{:paths ["src"]
 :deps {org.flatland/ordered {:mvn/version "1.5.9"}
        clj-antlr/clj-antlr {:mvn/version "0.2.9"}}

 :aliases
 {:dev
  {:extra-paths ["dev" "test"]
   :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}

  :test
  {:extra-paths ["dev" "test"]
   :extra-deps
   {lambdaisland/kaocha {:mvn/version "1.0.829"}
    lambdaisland/kaocha-junit-xml {:mvn/version "0.0.76"}}}

  :prod
  {:extra-paths ["prod"]}}}
